@charset "utf-8";
#main {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

#header {
    height: 160px;
    width: 1280px;
    background-image: url(image/work.png);
}

#conrent {
    height: 1800px;
    width: 1280px;
    background-image: url(image/back.jpg);
}

#footer {
    height: 150px;
    width: 1280px;
    background-image: url(image/footer.gif);
}

#conrent {
    height: 1200px;
    width: 1280px;
}

#contentl {
    height: 1800px;
    width: 1280px;
}