@charset "utf-8";
#main {
	width: 1280px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	height: 160px;
	width: 1280px;
	background-image: url(image/1x/%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201.png);
}
#conrent {
	height: 1800px;
	width: 1280px;
	background-image: url(image/back.jpg);
}
#footer {
	height: 150px;
	width: 1280px;
	background-image: url(image/footer.gif);
}
#conrent {
	height: 1200px;
	width: 1280px;
}
#contentl {
	height: 1800px;
	width: 1280px;
}
